.header {
    font: normal normal normal 20px/24px Botrio;
    letter-spacing: 0px;
    color: #F73843;
    opacity: 1;

    &.bottom-bordered {
        border-bottom: 3px solid #F73843;
        color: #F6F6F6;
        padding: 5.5px;
    }
    
    &.desktop-header {
        font-size: 50px;
        line-height: 58px;
        letter-spacing: 0px;
    }
}