.arp {
    font: normal normal normal 15px/17px Botrio;
    letter-spacing: 0px;
    color: #FAFAFA;
    opacity: 1;
    &.desktop {
        font: normal normal normal 25px/30px Botrio;
        letter-spacing: 0px;
    }
}

.tag {
    font: normal normal normal 12px/15px Montserrat;
    letter-spacing: 0px;
    color: #F73843;
    text-transform: uppercase;
    opacity: 1;
    &.desktop {
        font: normal normal normal 20px/24px Montserrat;
        letter-spacing: 0px;
    }
}

.box {
    border: 2px solid #F73843;
    opacity: 0.7;
    width: 130px;
    &.desktop {
        width: 197px;
        .title {
            font: normal normal normal 20px/24px Montserrat;
        }
        .amount {
            font: normal normal normal 30px/32px Botrio;
        }
    }
    .title {
        font: normal normal normal 13px/16px Montserrat;
        letter-spacing: 0px;
        color: #FAFAFA;
        opacity: 0.7;
    }
    .amount {
        font: normal normal normal 23px/27px Botrio;
        letter-spacing: 0px;
        color: #F73843;
        opacity: 1;
    }
}

.description {
    font: normal normal normal 12px/15px Montserrat;
    letter-spacing: 0px;
    color: #FAFAFA;
    opacity: 0.7;
    &.desktop {
        font: normal normal normal 15px/19px Montserrat;
    }
}

.stacked-box {
    padding: 11px 13px;
    float: left;
}

.earned-box {
    padding: 11px 13px;
    float: right;
}

.skating-card {
    background: #1C1C20 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 35px #000000;
    border: 2px solid #F73843;
    opacity: 0.7;
    border-radius: 12px;
    width: 284px;
    gap: 15px;
    &.desktop {
        width: 418px;
        .white-tag {
            font: normal normal normal 25px/30px Montserrat;
            letter-spacing: 0px;
        }
        .usdt-wrapper {
            gap: 65px;
        }
        .tvl-wrapper {
            gap: 26px;
            .tvl {
                font: normal normal normal 25px/30px Montserrat;
                letter-spacing: 0px;
            }
        }
        .amount-input {
            font: normal normal normal 15px/19px Montserrat;
            letter-spacing: 0px;
        }
    }    
    .usdt-wrapper {
        gap: 74px;
    }
    .white-tag {
        font: normal normal normal 15px/19px Montserrat;
        letter-spacing: 0px;
        color: #FAFAFA;
        opacity: 0.9;
    }
    
    .tvl-wrapper {
        gap: 13px;
        .tvl {
            font: normal normal normal 15px/19px Montserrat;
            letter-spacing: 0px;
            color: #F73843;
            opacity: 1;
        }
    }
    .amount-input {
        background: #F73843 0% 0% no-repeat padding-box;
        border-radius: 5px;
        opacity: 0.2;
        font: normal normal normal 11px/14px Montserrat;
        letter-spacing: 0px;
        color: #FAFAFA;
        margin-top: 2px;
        &.desktop {
            padding: 10px;
            margin-top: 4px;
        }
    }
    .connect-button {
        background: #F73843 0% 0% no-repeat padding-box;
        border-radius: 5px;
        opacity: 1;
        font: normal normal normal 13px/16px Botrio;
        letter-spacing: 0px;
        color: #FAFAFA;
        padding: 6px 16px;
        margin-top: 5px;
        &.desktop {
            margin-bottom: 15px;
            width: 261px;
            font: normal normal normal 18px/21px Botrio;
            margin-top: 18px;
        }
    }
    .details-text {
        font: normal normal normal 8px/10px Montserrat;
        letter-spacing: 0.08px;
        color: #FAFAFA;
        opacity: 0.7;
        padding-top: 6px;
        &.desktop {
            font: normal normal normal 15px/19px Montserrat;
        }
    }
    .detail {
        padding-bottom: 16px;
        &.desktop {
            .details-tag {
                font: normal normal normal 13px/15px Montserrat;
            }
            .amount {
                font: normal normal normal 15px/19px Montserrat;
            }
        }
        .details-tag {
            font: normal normal normal 8px/10px Montserrat;
            letter-spacing: 0.08px;
            color: #FAFAFA;
            opacity: 0.7;
        }
        .amount {
            font: normal normal normal 9px/12px Montserrat;
            letter-spacing: 0.14px;
            color: #FAFAFA;
            opacity: 1;
        }
    }
    .badge {
        padding: 4px 9px 2px 8px;
        background: #F73843 0% 0% no-repeat padding-box;
        border-radius: 3px;
        font: normal normal normal 8px/10px Botrio;
        letter-spacing: 0px;
        color: #FAFAFA;
        opacity: 0.9;
        &.badge {
            font: normal normal normal 13px/16px Botrio;
        }
    }
}
